<footer>
<br>
<br>
<center>
        {% for social in site.social %}
          {% assign template = social.service|prepend:"icon-"|append:".html" %}
          <span class="t-hackcss-social">
            <i class="t-hackcss-icon">{% include {{ template }} %}</i>
            <a href="{{ social.link }}">{{ social.username }}</a>
          </span>
        {% endfor %}
 
    <p>
      subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl}}">RSS</a>  email <a href="ijmichau at ncsu.edu">ijmichau at ncsu.edu</a>
    </p>

<p>
      <code>hack.css</code> is a dead simple css framework. Check out
      <a href="http://hackcss.com/">hackcss.com</a> to know more.
</p>

</center>


</footer>
